@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.cont{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background-color: #94d2bd;
}
.todo-box{
  width: 25%;
  height: 80%;
  background-color: #fef9ef;
  border-radius: 1.2rem;
  box-shadow: 0px 8px 5px grey;
}
.todo-box .todo-title{
  background-color: #006d77;
  text-align: center;
  color: white;
  margin: 20px 0px;
  box-shadow: 0px 1px 5px black;
}
.todo-box .todo-add-item{
  height: 10%;
  padding: 0px 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.todo-add-item input{
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  border-bottom: 5px solid  #006d77;
  height: 100%;
  font-size: 22px;
  text-align: center;
  width: 70%;
  outline: none;
  color: #006d77;
}
.todo-add-item button{
  width: 40px ;
  height: 40px;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 22px;
  background-color: #006d77;
  cursor: pointer;
  box-shadow: 0px 2px 4px black;
}
/* /accounts/remove/request/permanent */
.todo-list{
  margin: 20px 25px;
  padding: 5px 10px;
  overflow: scroll;
  height: 65%;
}
.todo-list-style{
  text-transform: capitalize;
  font-size: 19px;
  color: #006d77;
}
.todo-list-style li{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
  padding: 5px;
  list-style: none;
}
.list-icon{
  display: flex;
  align-self: center;
  margin-left: auto;
}
.list-icon-1{
  display: flex;
  align-self: center;
}
.list-icon:hover{
  color: red;
}
@media only screen and (max-width: 450px) {
  .todo-box{
    width: 90%;
    height: 95%;
  }
  .todo-list{
    height: 70%;
  }
  .todo-list-style{
    font-size: 20px;
  }
}